[paths]
Temp = ${install_dir}/temp/derecho
Data = ${install_dir}/data
#Logs = /glade/derecho/scratch/csgteam/logs/qstat

[site]
name = Derecho

[cache]
MaxWait = 20
MaxAge = 300
AgeDelay = 5
Frequency = 10
Hosts = derecho.hpc.ucar.edu

[history]
MaxAge = 600
Frequency = 60

[pbs]
Qstat = /opt/pbs/bin/qstat
Prefix = sudo -u csgteam

[servermap]
casper = casper-pbs
derecho = desched1

[privileges]
Active = True

[priv.all]
Users = *

[priv.env]
Groups = csg
